* {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-logo: #000000;
  --black-text: #212121;
  --white-text: #ffffff;
  --gray-text: #757575;
  --blue-text: #2196f3;
  --elements-gray: #2f303a;
  --button-bg-non-active: #f5f4fa;
  --button-bg-active: #2196f3;
}

header {
  font-family: 'Roboto', sans-serif;
  padding-top: 24px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  font-family: 'Roboto', sans-serif;
  margin: 94px 215px;
}

.web{
  margin: 24px 93px 25px 215px;
  font-family: 'Raleway', sans-serif;
  color: var(--blue-text);
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--black-logo);
}

.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: -20px 308px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.navlink {
  position: relative;

}

.navlink:first-child {
  padding-left: 93px;
  padding-right: 50px;
}

.navlink:last-child {
  padding-left: 50px;
}


.navlink:hover {
  list-style: none;
  color: var(--blue-text);
}

.contacts-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  color: var(--gray-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin top: -30px;
}

.contacts-header :first-child{
  padding-right: 50px;
}

.contacts-header :last-child {
  margin-right: 215px;
}

.contacts-header :hover {
  color: var(--blue-text);
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 34px;
  padding-bottom: 16px;
}

.buttons :not(:first-child) {
  margin-left: 15px;
}

.buttons :not(:last-child) {
  margin-right: 15px;
}

.button {
  padding: 6px 22px;
  margin: 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  position: relative;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--button-bg-non-active);
  border-radius: 4px;
}


.button:hover {
  color: var(--white-text);
  background-color: var(--button-bg-active);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

.card {
  list-style: none;
  max-height: 404px;
  max-width: 370px;
  border-radius: 0px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
}

/* .picture {
  
} */

.container {
  margin: 20px 24px;
}

.project {
  color: var(--black-text);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.description {
  color: var(--gray-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

}

footer {
  background-color: var(--elements-gray);
  color: var(--white-text);
  padding-top: 60px;
}

.studio {
  color: var(--white-text);
}

address {
  font-family: 'Roboto', sans-serif;
  color: var(--white-text);
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 215px;
  margin-top: 20px;
  padding-bottom: 60px;
}

.contacts {
  color: var(--gray-text);
  
}
