* {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-logo: #000000;
  --black-text: #212121;
  --white-text: #ffffff;
  --gray-text: #757575;
  --blue-text: #2196f3;
  --elements-gray: #2f303a;
  --button-bg-non-active: #F5F4FA;
  --button-bg-active: #2196F3;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  font-family: 'Roboto', sans-serif;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding: 24px 215px 25px;
  border-bottom: 1px solid #ECECEC;

}

.navigation{
  display: flex;
}

.menu-nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
  margin: 0px;
  padding: 0px;
}

.menu-nav .navlink:not(:last-child) {
  margin-right: 50px;
}

.web {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--blue-text);
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo {
  padding-right: 93px;
  color: var(--black-logo);
}

.navlink:hover,
.navlink.current {
  list-style: none;
  color: var(--blue-text);
}

.contacts-container {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-header {
  list-style: none;
  margin: 0;
  padding: 0;

}

.list-item {
  margin-left: 30px;
}

.list-item:hover {
  color: var(--blue-text);
}

.list-item {
  color: var(--gray-text);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--elements-gray);
  max-width: 1600px;
  max-height: 600px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
  ),
    url(/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 696px;
}

.partners {
  margin: 0px;
}

/* portfolio */
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 94px 0px 34px 0px;
  font-family: inherit;
  margin: 0;
}

/* portfolio */
.buttons :not(:first-child) {
  margin-left: 15px;
}

/* portfolio */
.buttons :not(:last-child) {
  margin-right: 15px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/* portfollio */
.button {
  padding: 6px 22px;
  margin: 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  text-decoration: none;

  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  background-color: var(--button-bg-non-active);
  border-radius: 4px;
}

/* portfollio */
.button:hover {
  color: var(--white-text);
  background-color: var(--button-bg-active);
}

/* portfollio */
.main-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team-container {
  display: flex inline-block;
  flex-wrap: wrap;
  justify-content: center;
}

/* portfollio */
.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  padding-bottom: 64px;
  margin: 0px;
}

/* portfollio */
.card {
  list-style: none;
  max-height: 404px;
  max-width: 370px;
  border-radius: 0px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;

}

.card:not(:first-child) {
  margin-left: 30px;
}


.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.title {
  display: inline-flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  padding-bottom: 30px;
  padding-top: 200px;
  margin: 0px;
  min-width: 696px;

  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

/* portfollio */
/* button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
} */


.btn {
  display: flex;
  color: var(--white-text);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: none;

  /* identical to box height, or 187% */
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: var(--blue-text);
  padding: 10px 32px;
}

/* portfollio */
.container {
  margin: 20px 24px;
}

/* portfollio */
.project {
  color: var(--black-text);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

/* portfollio */
.description {
  color: var(--gray-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;

}

.features {
  padding: 0;
  margin: 0;
}

.features-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1170px;
  list-style: none;
  padding: 94px 215px 0px 215px;

  /* or 171% */
  color: var(--gray-text);
}

.feature {
  display: block;

}

.title3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.feature-item {
  list-style: none;
  min-width: 270px;
  margin: 0px;
  font-size: 14px;
  line-height: 24px;
  
  /* or 171% */
  letter-spacing: 0.03em;
}

.feature-item:not(last-child) {
  margin-right: 15px;
}

.feature-item :not(first-child) {
  padding-left: 15px;
}

.work {
  max-width: 1170px;
  margin-left: 215px;
}

.title2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin: 0px;
  padding-bottom: 50px;
  padding-top: 94px;
}

.boxes {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
}

.boxes :not(:first-child) {
  padding-left: 15px;
}

.boxes :not(:last-child) {
  padding-right: 15px;
}

.box-image {
  list-style: none;
}

.team {
  margin: 0px;
  max-width: 1600px;
}

.team-cont {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px;
  padding-left: 215px;
  
  /* flex-basis: calc(100% / 4 - 30px); */
}

.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--white-text);
  width: 270px;

  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
}

.team-cont .team-card:not(:first-child) {
  margin-left: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
  padding-top: 30px;
  margin: 0px;
}

.job {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 30px;
  padding-top: 10px;


  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-text);
  margin: 0px;
}

.companys {
  display: flex;
  list-style: none;
  margin: 0px;
}

footer {
  display: flex;
  background-color: #2f303a;
  color: var(--white-text);
  padding: 60px 215px;
}

.logo.footer {
  color: var(--white-text);
}

.address {
  font-family: 'Roboto', sans-serif;
  color: var(--white-text);
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 20px;

}

.contacts {
  color: var(--gray-text);
}

.contacts-footer {
  margin: 0;;
  padding: 0;
}

.social-media-container {
  display: flex;
  padding-left: 70px;
  padding-top: 12px;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.social-media-item {
  display: flex;
  list-style: none;
}